<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/resources/css/oksub.css">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb" style="visibility: visible;">
            <a><cite>系统管理</cite></a>
            <span lay-separator>/</span>
            <a><cite>角色管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search" method="post" id="searchForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户称呼</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所在地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="address" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户性别</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="sex" value="1" title="男">
                        <input type="radio" name="sex" value="0" title="女">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户类型</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="type" value="1" title="管理员">
                        <input type="radio" name="type" value="2" title="普通用户">
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal
                        layui-icon layui-icon-search" id="doSearch">搜索</button>
                    <button type="reset" class="layui-btn layui-btn-warm
                        layui-btn-sm layui-icon layui-icon-refresh">重置</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 搜索条件结束 -->

    <!-- 数据表格开始 -->
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <!-- 数据表格结束 -->

    <!-- 角色分配弹出层开始 -->
    <div style="display: none;padding:20px 20px 0 20px;" id="selectUserRoleInfo">
        <table class="layui-hide" id="userRoleTable" lay-filter="userRoleTable"></table>
    </div>
    <!-- 角色分配弹出层结束 -->

    <!-- 添加和修改弹出层开始 -->
    <div style="display: none;padding:20px 20px 0 20px;" id="saveOrUpdateDiv">
        <form class="layui-form" lay-filter="dataFrm" id="dataFrm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="userId">
                        <input type="text" name="userName" id="userName" lay-verify="required" autocomplete="off" class="layui-input"  placeholder="请输入用户名">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户称呼</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickName" lay-verify="required" autocomplete="off" class="layui-input"  placeholder="请输入用户称呼">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所在地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="address" lay-verify="required" autocomplete="off" class="layui-input"  placeholder="请输入所在地址">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone" lay-verify="required|phone" value="13555555555" autocomplete="off" class="layui-input"  placeholder="请输入用户电话">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" lay-verify="required|email" value="ww19681@qq.com" autocomplete="off" class="layui-input"  placeholder="请输入用户邮箱">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户性别</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="sex" value="1" checked="checked" title="男">
                        <input type="radio" name="sex" value="0" title="女">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">是否可用</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="available" value="1" title="可用"  checked="checked">
                        <input type="radio" name="available" value="0" title="不可用">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户类型</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="type" value="1" title="管理员" >
                        <input type="radio" name="type" value="2" title="普通用户" checked="checked">
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center;">
                <div class="layui-block">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal layui-icon layui-icon-search"
                            lay-submit="" lay-filter="doSave">保存</button>
                    <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh">重置</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 添加和修改弹出层结束 -->
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/html" id="toolbarTop">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">增加</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteBatch">批量删除</button>
    </div>
</script>
<script type="text/html" id="barRight">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="resetUserPwd">密码重置</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="selectUserMenu">角色分配</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    //先声明table组件 便于之后渲染
    var tbIns ;
    layui.extend({
        dtree:'/resources/layui_ext/dist/dtree'
    }).use(['jquery','form','layer','table','laydate','dtree'],function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;

        tbIns = table.render({
            elem: '#test',//lay-filter对应值 渲染目标对象
            url:'/user/loadUsers', //数据接口
            title: '用户表', //数据导出的标题
            page: true, //是否启用分页
            height:"full-140",
            toolbar:"#toolbarTop", //表格工具条
            defaultToolbar:['filter'],    //右侧工具栏
            cols: [
                [   //列数据
                {type:'checkbox', fixed:'left'},
                {field:'userId', title:'ID', width:180,sort:true, align:'center'},
                {field:'userName', title:'用户名', width:95,align:'center'},
                {field:'nickName', title:'用户称呼',  width:120,align:'center'},
                {field:'address', title:'所在地址',width:170,align:'center'},
                {field:'phone', title:'用户电话',width:140,align:'center'},
                {field:'email', title:'用户邮箱',width:160,align:'center'},
                {field:'sex', title:'性别',align:'center',width:60,templet:function(res){
                        return res.sex=='1'?'<font color=blue>男</font>':'<font color=green>女</font>';
                    }},
                {field:'available', title:'是否可用', align:'center',width:95,templet:function (res){
                        return res.available=='1'?'<font color=blue>可用</font>':'<font color=red>不可用</font>';}
                },
                {field:'type', title:'用户类型', align:'center',sort:true,width:105,templet:function (res){
                            return res.type=='1'?'<font color=green>管理员</font>':'普通用户';}
                },
                {field:'createTime', title:'创建时间',width:200, align:'center'},
                {fixed:'right', title:'操作', toolbar:'#barRight', width:275, align:'center'}
            ]
            ],
            //解决删除最后一行数据的分页问题
            done:function (data, curr, count) {
                //不是第一页且返回数据为0则返回上一页
                if(curr!=1 && data.data.length==0){
                    tbIns.reload({
                        page:{
                            curr:(curr-1)
                        }
                    })
                }
            }
        });

        //模糊查询
        $("#doSearch").click(function() {
            var params = $("#searchForm").serialize();
            tbIns.reload({
                //重新渲染
                url:"/user/loadUsers?"+params,
                page:{curr:1}//默认跳至第一页
            });
        });

        //插入和修改
        //监听头部工具栏事件
        table.on("toolbar(test)",function (obj) {
            switch(obj.event){
                case 'add':
                    openAddUser();
                    break;
                case 'deleteBatch':
                    deleteBatch();
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'del'){ //删除
                doDeleteUser(data);
            } else if(layEvent === 'edit'){ //编辑
                openUpdateUser(data);
            } else if(layEvent==='selectUserMenu'){
                //弹出用户角色分配框
                openselectUserMenu(data);
            } else if(layEvent==='resetUserPwd'){
                //执行密码重置功能
                resetUserPassWord(data);
            }
        });

        //删除
        function doDeleteUser(data){
            layer.confirm('确定删除'+data.nickName+'用户吗?', function(){
                //向服务端发送删除指令
                $.post("/user/delUser?id="+data.userId,function(obj) {
                    layer.msg(obj.msg,{icon:1,time:500,});
                    //刷新数据表格
                    tbIns.reload();
                });
            });
        }


        //根据url进行添加和更新
        var url;
        //先声明弹出层组件序号 便于之后关闭
        var layerIndex;
        //打开添加页面
        function openAddUser(){
            layerIndex = layer.open({
                type:1,
                title:"添加用户",
                content:$("#saveOrUpdateDiv"),
                area:['720px','400px'],
                success:function (index) {
                    //情况表单数据
                    //Jquery没有reset 变成dom调用reset
                    $("#dataFrm")[0].reset();
                    url = "/user/addUser";
                }
            });
        }
        //打开修改页面
        function openUpdateUser(data){
            layerIndex = layer.open({
                type:1,
                title:"修改用户",
                content:$("#saveOrUpdateDiv"),
                area:['720px','400px'],
                success:function () {
                    //修改框用户名为可禁用状态
                    $("#userName").attr("readonly","readonly");
                    form.val("dataFrm",data);
                    url = "/user/updateUser";
                }
            });
        }

        //打开用户分配框
        function openselectUserMenu(data) {
            layerIndex = layer.open({
                type:1,
                title:'分配'+data.nickName+'的角色',
                content:$("#selectUserRoleInfo"),
                area:['440px','450px'],
                btnAlign:'c',
                //添加按钮
                btn:['<div class="layui-icon layui-icon-release">分配</div>','<div class="layui-icon layui-icon-close">取消</div>'],
                //确认操作
                yes:function(index, layero){
                    //得到选中的数据行
                    var checkStatus = table.checkStatus('userRoleTable');
                    var roleData = checkStatus.data;
                    var params="userId="+data.userId;
                    $.each(roleData,function(index,item){
                        params = params+"&rid2="+item.id;
                    });
                    //保存
                    $.post("/user/addUserRole",params,function(obj){
                        layer.msg(obj.msg,{icon:1,time:500,});
                        //关闭弹出层
                        layer.close(layerIndex);
                    })
                },
                success:function(){
                    //渲染数据表格
                    var userRoleTable=table.render({
                        elem: '#userRoleTable'   //渲染的目标对象
                        ,url:'/user/initUserRoleJsonData?userId='+data.userId //数据接口
                        ,title: '角色列表'//数据导出来的标题
                        ,cellMinWidth:60 //设置列的最小默认宽度
                        ,cols: [
                            [   //列表数据
                            {type: 'checkbox', fixed: 'left'}
                            ,{field:'id', title:'ID',align:'center',width:60}
                            ,{field:'name', title:'角色名称',align:'center'}
                            ,{field:'remark', title:'角色批注',align:'center'}
                        ]
                        ]
                    })
                }
            });
        }

        //重置密码
        function resetUserPassWord(data){
            layer.confirm('确定重置'+data.nickName+'用户的密码吗？', function(){
                //向服务端发送删除指令
                $.post("/user/restUserPwd?id="+data.userId,function(res){
                    layer.msg(res.msg,{icon:1,time:500,});
                });
            })
        }

        //保存数据
        form.on('submit(doSave)', function(data){
            //序列化表单数据
            var params = $("#dataFrm").serialize();
            $.post(url,params,function (data) {
                if(data.code>0){
                    layer.msg(data.msg,{icon:1,time:500,});
                    //关闭弹出层
                    layer.close(layerIndex);
                    //刷新数据表格
                    tbIns.reload();
                }else {
                    layer.msg(data.msg,{icon:2,time:1000,});
                }
            })
        });
        //批量删除
        function deleteBatch() {
            //获取数据行
            var checkStatus = table.checkStatus('test');
            var data = checkStatus.data;
            var params="";
            $.each(data,function (index, item) {
                if(index==0){
                    params=params+"ids="+item.userId;
                }else {
                    params=params+"&ids="+item.userId;
                }
            });
            layer.confirm('真的删除这些用户么?', function(){
                //向服务端发送删除指令
                $.post("/user/delBatchUser",params,function(obj) {
                    layer.msg(obj.msg,{icon:1,time:500,});
                    //刷新数据表格
                    tbIns.reload();
                });
            });
        }
    });

</script>
</body>
</html>
