<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>车辆租用管理系统</title>
   <script type="text/javascript" src="/resources/lib/echarts/echarts.min.js"></script>
   <script type="text/javascript" src="/resources/lib/echarts/echarts.theme.js"></script>
   <script type="text/javascript" src="/resources/lib/echarts/world/js/china.js"></script>
   <link rel="stylesheet" href="/resources/css/oksub.css" media="all"/>
   <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
   <style type="text/css">
      .layui-table-cell {
         height: auto;
         line-height: 28px;
      }
   </style>
</head>
<body class="ok-body-scroll console">
<div class="ok-body home">
   <div class="layui-row layui-col-space15">
      <div class="layui-col-xs6 layui-col-md3">
         <div class="layui-card">
            <div class="ok-card-body">
               <div class="img-box" ok-pc-in-show>
                  <img src="/resources/images/home-01.png" alt="none"/>
               </div>
               <div class="cart-r">
                  <div class="stat-text incomes-num">0</div>
                  <div class="stat-heading">站内车辆</div>
               </div>
            </div>
         </div>
      </div>

      <div class="layui-col-xs6 layui-col-md3">
         <div class="layui-card ">
            <div class="ok-card-body">
               <div class="img-box" ok-pc-in-show>
                  <img src="/resources/images/home-02.png" alt="none"/>
               </div>
               <div class="cart-r">
                  <div class="stat-text goods-num">0</div>
                  <div class="stat-heading">在租车辆</div>
               </div>
            </div>
         </div>
      </div>

      <div class="layui-col-xs6 layui-col-md3">
         <div class="layui-card">
            <div class="ok-card-body">
               <div class="img-box" ok-pc-in-show>
                  <img src="/resources/images/home-03.png" alt="none"/>
               </div>
               <div class="cart-r">
                  <div class="stat-text blogs-num">0</div>
                  <div class="stat-heading">访问人数</div>
               </div>
            </div>
         </div>
      </div>

      <div class="layui-col-xs6 layui-col-md3">
         <div class="layui-card">
            <div class="ok-card-body">
               <div class="img-box" ok-pc-in-show>
                  <img src="/resources/images/home-04.png" alt="none"/>
               </div>
               <div class="cart-r">
                  <div class="stat-text fans-num">0</div>
                  <div class="stat-heading">在线人数</div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="layui-row layui-col-space15">
      <div class="layui-col-md7">
         <div class="layui-card">
            <div class="layui-card-header">
               <div class="ok-card-title">最新车辆</div>
            </div>
            <div class="ok-card-body map-body">
               <div style="height: 100%; width: 100%">
                  <div class="layui-carousel" id="carouselView" >
                     <div carousel-item id="showNewCar">

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="layui-col-md5">
         <div class="layui-card">
            <div class="layui-card-header">
               <div class="ok-card-title">最新公告</div>
            </div>
            <div class="ok-card-body map-body">
               <div style="height: 100%; width: 100%">
                  <table class="layui-table mag0" lay-skin="nob">
                     <tbody id="newArticle"></tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="layui-row layui-col-space15">
      <div class="layui-col-md4">
         <div class="layui-card">
            <div class="layui-card-header">
               <div class="ok-card-title"><i class="layui-icon layui-blue">&#xe735;</i> 租用排行榜</div>
            </div>
            <div class="ok-card-body">
               <div style="height: 100%; width: 100%">
                  <table class="layui-table" lay-skin="row">
                     <thead>
                     <tr>
                        <th style="text-align: center"><img style="width: 20px;height: 20px" src="/resources/images/silver.png"/></th>
                        <th style="text-align: center"><img style="width: 20px;height: 20px" src="/resources/images/gold.png"/></th>
                        <th style="text-align: center"><img style="width: 20px;height: 20px" src="/resources/images/bronze.png"/></th>
                     </tr>
                     </thead>
                     <tbody id="rankingListUser"></tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="layui-col-md4">
         <div class="layui-card">
            <div class="layui-card-header">
               <div class="ok-card-title"><i class="layui-icon layui-red">&#xe756;</i> 车辆热销榜</div>
            </div>
            <div class="ok-card-body">
               <div style="height: 100%; width: 100%">
                  <table class="layui-table" lay-skin="row">
                     <thead>
                     <tr>
                        <th style="text-align: center"><img style="width: 20px;height: 20px" src="/resources/images/silver.png"/></th>
                        <th style="text-align: center"><img style="width: 20px;height: 20px" src="/resources/images/gold.png"/></th>
                        <th style="text-align: center"><img style="width: 20px;height: 20px" src="/resources/images/bronze.png"/></th>
                     </tr>
                     </thead>
                     <tbody>
                        <tr id="rankingListCar"></tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="layui-col-md4">
         <div class="layui-card">
            <div class="layui-card-header">
               <div class="ok-card-title"><i class="layui-icon layui-bg-orange">&#xe615;</i> 联系与支持</div>
            </div>
            <div class="ok-card-body">
               <div style="height: 100%; width: 100%">
                  <div class="layui-row" style="height: 30px;margin-top: 7px">
                     <div class="layui-col-md6" style="padding:0px 10px;">
                        <img style="width: 30px;height: 30px" src="/resources/images/weixin.png"/>
                        <span style="font-size:16px;padding: 5px 5px;font-family:SimHei">meiyouweixin</span>
                     </div>
                     <div class="layui-col-md6" style="padding:0px 10px;">
                        <img style="width: 30px;height: 30px" src="/resources/images/weibo.png"/>
                        <span style="font-size:16px;padding: 5px 5px;font-family:SimHei">meiyouweibo</span>
                     </div>
                  </div>
                  <div class="layui-row" style="height: 30px;margin-top: 7px">
                     <div class="layui-col-md6" style="padding:0px 10px;">
                        <img style="width: 30px;height: 30px" src="/resources/images/QQ.png"/>
                        <span style="font-size:16px;padding: 5px 5px;font-family:SimHei">999999999</span>
                     </div>
                     <div class="layui-col-md6" style="padding:0px 10px;">
                        <img style="width: 30px;height: 30px" src="/resources/images/phone.png"/>
                        <span style="font-size:16px;padding: 5px 5px;font-family:SimHei">9090980</span>
                     </div>
                  </div>
                  <div class="layui-row" style="height: 30px;margin-top: 7px">
                     <div class="layui-col-md12" style="padding:0px 5px 0px 10px;">
                        <img style="width: 30px;height: 30px" src="/resources/images/address.png"/>
                        <span style="font-size:15px;padding: 5px 0px 5px 5px;font-family:SimHei">四川省成都市航空港开发区学府路一段24号</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- 查看公告的div -->
<div id="showArticleDiv" style="padding: 10px;display: none;">
   <h2 id="articleTitle" align="center"></h2>
   <br/>
   <div style="text-align: right;color:gray">
      作者:<span id="sendName" style="color:LightSkyBlue;"></span><span style="display: inline-block;width: 20px" ></span>
      发布时间:<span id="createTime" style="color:LightSkyBlue;"></span>
   </div>
   <hr>
   <div id="articleContent"></div>
</div>
<!--<div style="display: none;padding:20px 20px 0 20px;" id="carInfoShowDiv">
   <form class="layui-form layui-row layui-col-space10 layui-form-pane ok-form" lay-filter="carInfo" id="carInfo">
      <div class="layui-col-md12 layui-col-xs10">
         <div class="layui-row layui-col-space10">
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-form-item">
                  <label class="layui-form-label">车辆编号</label>
                  <div class="layui-input-block">
                     <input type="text" name="carId" class="layui-input" readonly>
                  </div>
               </div>
               <div class="layui-form-item">
                  <label class="layui-form-label">挂载牌照</label>
                  <div class="layui-input-block">
                     <input type="text" name="carNum" class="layui-input" readonly>
                  </div>
               </div>
               <div class="layui-form-item">
                  <label class="layui-form-label">车辆类型</label>
                  <div class="layui-input-block">
                     <input type="text" name="carType" class="layui-input" readonly>
                  </div>
               </div>
               <div class="layui-form-item">
                  <label class="layui-form-label">车辆颜色</label>
                  <div class="layui-input-block">
                     <input type="text" name="carColor" class="layui-input" readonly>
                  </div>
               </div>
               <div class="layui-form-item">
                  <label class="layui-form-label">车辆市值</label>
                  <div class="layui-input-block">
                     <input type="text" name="buyPrice" class="layui-input" readonly>
                  </div>
               </div>
            </div>
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-upload-list thumbBox mag0 magt3" id="carImgDiv2">
                  &lt;!&ndash; 显示上传的图片 &ndash;&gt;
                  <img class="layui-upload-img thumbImg" id="carImgShow2" style="width: 335px;height: 240px;margin: 10px 2px;">
               </div>
            </div>
         </div>
         <div class="layui-row layui-col-space10">
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-form-item">
                  <label class="layui-form-label">出租价格</label>
                  <div class="layui-input-block">
                     <input type="text" name="rentPrice" class="layui-input" readonly>
                  </div>
               </div>
            </div>
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-form-item">
                  <label class="layui-form-label">出租押金</label>
                  <div class="layui-input-block">
                     <input type="text" name="depositPrice" class="layui-input" readonly>
                  </div>
               </div>
            </div>
         </div>
         <div class="layui-row layui-col-space10">
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-form-item">
                  <label class="layui-form-label">出租用户</label>
                  <div class="layui-input-block">
                     <input type="text" name="nickName" id="nickName2" class="layui-input" readonly>
                  </div>
               </div>
            </div>
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-form-item">
                  <label class="layui-form-label">联系电话</label>
                  <div class="layui-input-block">
                     <input type="text" name="phone" id="phone2" class="layui-input" readonly>
                  </div>
               </div>
            </div>
         </div>
         <div class="layui-row layui-col-space10">
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-form-item">
                  <label class="layui-form-label">出租状态</label>
                  <div class="layui-input-block">
                     <input type="radio" name="rentStatus" value="1" title="已租" disabled>
                     <input type="radio" name="rentStatus" value="0" title="未租" checked="checked" disabled>
                  </div>
               </div>
            </div>
            <div class="layui-col-md6 layui-col-xs5">
               <div class="layui-form-item">
                  <label class="layui-form-label">车辆状态</label>
                  <div class="layui-input-block">
                     <input type="radio" name="isRepair" value="1" title="故障" disabled>
                     <input type="radio" name="isRepair" value="0" title="正常" checked="checked" disabled>
                  </div>
               </div>
            </div>
         </div>
         <div class="layui-row layui-col-space10">
            <div class="layui-form-item">
               <label class="layui-form-label">车辆描述</label>
               <div class="layui-input-block">
                  <input type="text" name="description" class="layui-input" readonly>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>-->

<script type="text/javascript" src="/resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="/resources/js/console.js"></script>
</body>
</html>



















