<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ww.rent005.rent.mapper.CarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ww.rent005.rent.entity.Car">
        <id column="car_id" property="carId" />
        <result column="car_num" property="carNum" />
        <result column="car_type" property="carType" />
        <result column="buy_price" property="buyPrice" />
        <result column="rent_price" property="rentPrice" />
        <result column="deposit_price" property="depositPrice" />
        <result column="rent_status" property="rentStatus" />
        <result column="car_color" property="carColor" />
        <result column="description" property="description" />
        <result column="car_img" property="carImg" />
        <result column="rent_user_id" property="rentUserId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <association property="user" select="ww.rent005.rent.mapper.UserMapper.findByUserId"
                     column="rent_user_id">
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        car_id, car_num, car_type, buy_price, rent_price, deposit_price, rent_status,car_color, description, car_img, rent_user_id, update_time, create_time
    </sql>

    <!-- 根据车牌号查询车辆信息 -->
    <select id="findCarByCarNum" resultType="integer">
        select count(*) from tb_car where car_num=#{carNum}
    </select>

    <select id="findAllCar" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_car
        <where>
            <if test="carId!=null and carId!=''">
                and car_id like concat("%",#{carId},"%")
            </if>
            <if test="carNum!=null and carNum!=''">
                and car_num like concat("%",#{carNum},"%")
            </if>
            <if test="carType!=null and carType!=''">
                and car_type like concat("%",#{carType},"%")
            </if>
            <if test="carColor!=null and carColor!=''">
                and car_color like concat("%",#{carColor},"%")
            </if>
            <if test="description!=null and description!=''">
                and description like concat("%",#{description},"%")
            </if>
            <if test="rentStatus!=null">
                and rent_status = #{rentStatus}
            </if>
            <if test="startPrice!=null">
                and rent_price >= #{startPrice}
            </if>
            <if test="endPrice!=null">
                and rent_price <![CDATA[<=]]> #{endPrice}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="findCarById" resultType="ww.rent005.rent.entity.Car">
        select <include refid="Base_Column_List"/> from tb_car where car_id=#{carId}
    </select>
    <select id="findCarInfoByCarNum" resultType="ww.rent005.rent.entity.Car">
        select <include refid="Base_Column_List"/> from tb_car where car_num=#{carNum}
    </select>

</mapper>
