<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ww.rent005.rent.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ww.rent005.rent.entity.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="available" property="available" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark, available, createTime
    </sql>

    <!-- 添加角色权限信息 -->
    <insert id="addRolePermission">
        insert into tb_role_permission(rid,pid) values(#{rid},#{pid});
    </insert>

    <!-- 根据角色id删除角色/权限表 -->
    <delete id="delRolePermissionByRid">
        delete from tb_role_permission where rid = #{rid}
    </delete>

    <!-- 根据角色id删除角色/用户表 -->
    <delete id="delRoleUserByRid">
        delete from tb_role_user where rid = #{rid}
    </delete>

    <!-- 根据uid查询角色信息 -->
    <select id="findUserRoleByUid" resultType="ww.rent005.rent.entity.Role">
        select r.* from tb_role r inner join tb_role_user ru on r.id = ru.rid
        where r.available = #{available} and ru.uid=#{uid} ;
    </select>
    <select id="listRoles" resultType="java.lang.String">
                select r.id, r.name from user u
				left join user_role ur on u.id = ur.uid
				left join Role r on r.id = ur.rid
		where u.name = #{name}
    </select>


</mapper>
