<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ww.rent005.rent.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ww.rent005.rent.entity.User">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="pass_word" property="passWord" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="type" property="type" />
        <result column="available" property="available" />
        <result column="img" property="img" />
        <result column="salt" property="salt" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, pass_word, nick_name, sex, address, phone, type, img, salt, available, create_time
    </sql>

    <!-- 添加用户角色中间表信息 -->
    <insert id="addRoleUser">
        insert into tb_role_user(uid,rid) values (#{uid},#{rid});
    </insert>

    <!-- 删除用户角色中间表 -->
    <delete id="delUserRoleByUid">
        delete from tb_role_user where uid = #{uid}
    </delete>

    <select id="findByUserId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_user where user_id = #{userId}
    </select>

</mapper>
